[Unit]
Description = Java Service
After network.target = KlimaService.service

[Service]
Type = forking
ExecStart = /usr/local/bin/KlimaService.sh start
ExecStop = /usr/local/bin/KlimaService.sh stop
ExecReload = /usr/local/bin/KlimaService.sh reload

[Install]
WantedBy=multi-user.target
